:root {
    /* Primary Colors */
    --primary-deep-sea: #011627;
    --primary-ocean-blue: #023e8a;
    --primary-space-blue: #0077b6;

    /* Accent Colors */
    --accent-neon-blue: #00b4d8;
    --accent-cyan: #48cae4;
    --accent-royal-dark-purple: #4b0082;
    --accent-light-cyan: #90e0ef;

    /* Neutral Colors */
    --neutral-light-gray: #e0fbfc;
    --neutral-medium-gray: #98c1d9;
    --neutral-dark-gray: #3d5a80;

    /* Background Colors */
    --background-deep-space: #001219;
    --background-starry-night: #0a9396;
}

body {
    background-color: var(--background-deep-space);
    color: var(--neutral-light-gray);
}

h1,
h2,
h3,
p {
    color: var(--neutral-light-gray);
}

img {
    object-fit: cover;
    object-position: 40% 18%;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}

.bolded {
    font-weight: bold;
    font-size: 1.1em;
}

#header-section {
    background: linear-gradient(to bottom, var(--background-deep-space), rgb(10, 10, 91));
}

#experience-section {
    background-color: var(--primary-deep-sea);
}
#education-section {
    background-color: var(--primary-deep-sea);
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 20px 0;
    width: 80%;
    max-width: 70vw;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 4px;
    background: rgb(215, 156, 46);
    border-radius: 10px;
}

.timeline-item {
    position: relative;
    margin: 40px 0;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.timeline-date {
    position: absolute;
    left: 0;
    top: -30px;
    width: fit-content;
    height: auto;
    padding: 10px 14px;
    background: var(--primary-ocean-blue);
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-light-gray);
    font-weight: bold;
}

.timeline-item .content {
    background: var(--background-deep-space);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}
.timeline-item.info .content {
    background-color: var(--primary-deep-sea);
    /* border: 2px solid var(--accent-neon-blue); */
    box-shadow: 0 0 10px 5px rgb(255, 255, 255, 0.2);
}
.info .content:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.timeline-item .content .text-box {
    flex: 0 0 70%;
    padding-right: 20px;
    text-align: left;
    align-content: center;
}

.timeline-item .content .image-box {
    flex: 0 0 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-item .content img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column;
    }

    .timeline-item .content {
        flex-direction: column;
    }

    .timeline-item .content .text-box,
    .timeline-item .content .image-box {
        flex: 0 0 100%;
        padding-right: 0;
    }

    .timeline-item .content img {
        margin-bottom: 20px;
    }
}
