:root {
    /* Text colors */
    --main-text-color: rgb(0, 0, 0);
    --muted-text-color: rgb(100, 100, 100);
    --secondary-text-color: rgb(255, 255, 255);

    /* Highlight colors */
    --primary-accent: rgb(215, 156, 46);
    --secondary-accent: rgb(255, 179, 225);

    /* Opacity colors */
    --main-bg-color-opacity: rgba(0, 0, 0, 0.3);
    --main-bg-color-strong-opacity: rgba(0, 0, 0, 0.5);
    --secondary-bg-color-opacity: rgba(174, 241, 254, 0.3);
    --secondary-bg-color-strong-opacity: rgba(174, 241, 254, 0.7);
    --primary-accent-opacity: rgba(215, 156, 46, 0.3);
    --primary-accent-strong-opacity: rgba(215, 156, 46, 0.7);
    --secondary-accent-opacity: rgba(255, 179, 225, 0.3);
    --secondary-accent-strong-opacity: rgba(255, 179, 225, 0.7);

    /* Background colors */
    --main-bg-color: rgb(255, 255, 255);
    --secondary-bg-color: rgb(10, 10, 91);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

img {
    object-fit: cover;
    object-position: 40% 18%;
    /* box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5); */
}

h1,
h2,
h3 {
    color: var(--secondary-bg-color);
}

.bolded {
    font-weight: bold;
    font-size: 1.1em;
}

#header-section {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}
#main-section {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}
#footer-section {
    width: 100%;
    position: relative;
    z-index: 1000;
    bottom: -100px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}

#about-me-section {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

#experience-section {
    background-color: var(--main-bg-color);
}
#education-section {
    background-color: var(--main-bg-color);
    /* max-width: 1000px; */
}
#header-section > ul > li > a {
    color: var(--secondary-text-color);
}
#header-section > ul > li > a:hover {
    color: var(--primary-accent-strong-opacity);
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 20px 0;
    width: 80%;
    max-width: 900px;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 4px;
    background: var(--primary-accent);
    border-radius: 10px;
}

.timeline-item {
    position: relative;
    margin: 40px 0;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.timeline-date {
    position: absolute;
    left: 0;
    top: -30px;
    width: fit-content;
    height: auto;
    padding: 10px 14px;
    background: var(--primary-accent);
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
    font-weight: bold;
    box-shadow: 0 0 10px 5px var(--primary-accent-opacity);
    user-select: none;
}

.timeline-item .content {
    background: var(--main-bg-color);
    padding: 20px;
    box-shadow: 0 0 10px 5px var(--main-bg-color-opacity);
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
}
.content:hover {
    box-shadow: 0 0 10px 5px var(--main-bg-color-strong-opacity);
}
.timeline-item.info .content {
    background-color: var(--main-bg-color);
    /* border: 2px solid var(--accent-neon-blue); */
    box-shadow: 0 0 10px 5px var(--main-bg-color-opacity);
}
.info .content:hover {
    box-shadow: 0 0 10px 5px var(--main-bg-color-strong-opacity);
}

.timeline-item .content .text-box {
    flex: 0 0 70%;
    padding-right: 20px;
    text-align: left;
    align-content: center;
}

.timeline-item .content .image-box {
    flex: 0 0 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-item .content img {
    width: 100%;
    max-width: 90%;
    padding: 10px;
    height: auto;
}
#date {
    color: var(--primary-accent);
}
@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column;
    }

    .timeline-item .content {
        flex-direction: column;
    }

    .timeline-item .content .text-box,
    .timeline-item .content .image-box {
        flex: 0 0 100%;
        padding-right: 0;
    }

    .timeline-item .content img {
        margin-bottom: 20px;
    }
}

.icon-link {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 1.3em;
    margin: 0 10px;
}
.centered-container {
    display: flex;
    justify-content: center;
}
.interest-grid-container {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5%;
    font-size: 1.2em;
    /* font-weight: bold; */
    margin-bottom: 20px;
}

.interest-grid-item {
    width: 20vw;
    height: 20vw;
    max-width: 260px;
    max-height: 260px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    user-select: none;
}
.interest-grid-item > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0 0 10px 2px var(--main-bg-color-opacity);
    transition: opacity 0.5s ease;
}
.interest-grid-item .interest-on-hover {
    position: absolute;
    opacity: 0;
    color: var(--secondary-bg-color);
    font-weight: bold;
    font-size: clamp(1rem, 3.5vw, 2.5rem);
    transition: opacity 0.5s ease;
}
.interest-grid-item:hover > img {
    opacity: 0.5;
    /* box-shadow: 0 0 10px 2px var(--primary-accent-strong-opacity); */
}

.interest-grid-item:hover .interest-on-hover {
    opacity: 1;
}

.skill-list {
    list-style: none;
    text-align: left;
    user-select: none;
}

.skill-list-item {
    /* background-color: var(--primary-accent-opacity); */
    margin: 20px 20vw;
    min-width: 200px;
    max-width: 800px;
    padding: 10px 14px;
    align-items: center;
    justify-content: left;
    box-shadow: 0 0 10px 2px var(--main-bg-color-opacity);
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .skill-list-item {
        margin: 20px 0;
    }
}

.skill-list-item:hover {
    box-shadow: 0 0 10px 2px var(--main-bg-color-strong-opacity);
}

.skill-name {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-bg-color);
    /* border: 1px solid black; */
    overflow: hidden;
    cursor: pointer;
}

.skill-description {
    color: var(--muted-text-color);
    height: 0;
    overflow: hidden;
}

.skill-description.show {
    height: fit-content;
}

.skill-bar {
    height: 10px;
    width: 100%;
    margin: 10px 0;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.skill-bar .skill-bar-fill {
    height: 10px;
    margin: 10px 0;
    width: 50%;
    background-color: var(--primary-accent);
    border-radius: 10px;
}
